name: Java CI with Maven

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    container: eclipse-temurin:21-jdk

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Grant execute permission for mvnw
        run: chmod +x mvnw

      - name: Build with Maven
        run: ./mvnw clean package

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: built-jar
          path: ./target/*.jar

  semgrep-sast:
    name: Semgrep Security Scan
    runs-on: ubuntu-latest
    needs: build

    permissions:
      security-events: write
      actions: read
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Semgrep scan
        run: |
          docker run --rm -v ${{ github.workspace }}:/src returntocorp/semgrep \
          semgrep scan --config=auto --sarif --output=semgrep.sarif

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v4
        if: always()
        with:
          sarif_file: semgrep.sarif